graft src/plone
graft docs
include *.rst
include *.txt
include tox.ini
exclude .gitlab-ci.yml
global-exclude *.pyc node_modules/*`1 __pycache__
prune src/plone/gallery/browser/static/node_modules
prune src/plone/gallery/locales/__pycache__
